<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <packageSources>
    <add key="myget/mindbox-private" value="https://mindbox.myget.org/F/mindbox-private/auth/322b5307-d66a-4441-931b-339359d5b7bd/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
